In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import mlflow

import logging
import pickle

from sklearn.preprocessing import StandardScaler

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM

import sys
from datetime import datetime

In [5]:
logging.info('Load Training Set')

In [6]:
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_column', None)
df_train = pd.read_csv('../data/train_final.csv', na_values=['?', None, 'undefined'])
df_train = df_train.reindex(index=df_train.index[::-1])
df_train.head()

,Store,DayOfWeek,Open,Promo,Holiday,SchoolHoliday,Day,Month,Year,Weekend,TimeOfMonth,7DayStore,StoreType,Assortment,CompetitionDistance,Promo2,TillHday,AfterHday,Sales
1017208,1115,2,0,0,2,1,1,1,2013,0,0,0,3,2,5350.0,1,0,5,0
1017207,1114,2,0,0,2,1,1,1,2013,0,0,0,0,2,870.0,0,0,5,0
1017206,1113,2,0,0,2,1,1,1,2013,0,0,0,0,2,9260.0,0,0,5,0
1017205,1112,2,0,0,2,1,1,1,2013,0,0,0,2,2,1880.0,0,0,5,0
1017204,1111,2,0,0,2,1,1,1,2013,0,0,0,0,0,1900.0,1,0,5,0

In [7]:
logging.info('Load Test Set')

In [8]:
df_test = pd.read_csv('../data/test_final.csv', na_values=['?', None, 'undefined'])
df_test = df_test.reindex(index=df_test.index[::-1])
df_test.head()

,Store,DayOfWeek,Open,Promo,Holiday,SchoolHoliday,Day,Month,Year,Weekend,TimeOfMonth,7DayStore,StoreType,Assortment,CompetitionDistance,Promo2,TillHday,AfterHday
41076,1115,6,1.0,0,1,1,1,8,2015,1,0,0,3,2,5350.0,1,14,14
41075,1114,6,1.0,0,1,0,1,8,2015,1,0,0,0,2,870.0,0,14,14
41074,1113,6,1.0,0,1,0,1,8,2015,1,0,0,0,2,9260.0,0,14,14
41073,1112,6,1.0,0,1,0,1,8,2015,1,0,0,2,2,1880.0,0,14,14
41072,1111,6,1.0,0,1,0,1,8,2015,1,0,0,0,0,1900.0,1,14,14

In [9]:
y = df_train[['Sales']].values
x = df_train.drop('Sales', axis = 1).values


sc_x = StandardScaler()
sc_y = StandardScaler()

x = sc_x.fit_transform(x)
y = sc_y.fit_transform(y)

x = np.reshape(x, (1017209, 18, 1))
x.shape, y.shape

((1017209, 18, 1), (1017209, 1))

In [21]:

regressor = Sequential()

regressor.add(LSTM(10, activation = 'sigmoid', return_sequences=True, input_shape = (18, 1)))
regressor.add(LSTM(10, return_sequences=True))
regressor.add(LSTM(10))
regressor.add(Dense(1))

regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

regressor.fit(x, y, batch_size = 100, epochs = 3)

Epoch 1/3
1017209/1017209 [==============================] - 307s 302us/sample - loss: 0.4780
Epoch 2/3
1017209/1017209 [==============================] - 315s 309us/sample - loss: 0.4151
Epoch 3/3
1017209/1017209 [==============================] - 311s 306us/sample - loss: 0.3998

### Train Model

In [ ]:
# -*- coding: utf-8 -*-

X_train = training_set[0:1257]
y_train = training_set[1:1258]

X_train = np.reshape(X_train,(1257,1,1))

# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense, LSTM

regressor = Sequential()

regressor.add(LSTM(4, activation = 'sigmoid', input_shape = (None,1)))
regressor.add(Dense(1))

regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

regressor.fit(X_train, y_train, batch_size = 32, epochs = 200)

test_set = pd.read_csv('Google_Stock_Price_Test.csv')
real_stock_price = test_set.iloc[:, 1:2].values

inputs = real_stock_price
inputs = sc.transform(inputs)
inputs = np.reshape(inputs,(20,1,1))

predicted_price = regressor.predict(inputs)
predicted_price = sc.inverse_transform(predicted_price)

print(predicted_price,real_stock_price)

plt.plot(real_stock_price[1:], color = 'red', label = 'Real Google Stock Price')
plt.plot(predicted_price[:-1], color = 'blue', label = 'Predicted Google Stock Price')
plt.title('Google Stock Price Prediction')
plt.xlabel('Time')
plt.ylabel('Google Stock Price')
plt.legend()
plt.show()